@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--header-height: 4rem;
	--header-top-margin: 1.25rem;

	--header-with-margin: calc(var(--header-height) + var(--header-top-margin));

	--header-mb: calc(var(--header-top-margin) * 2 - 0.5rem);
}

@layer components {
	.sticky-glass-navbar {
		@apply sticky-navbar mx-4 flex h-[var(--header-height)] items-center rounded-full px-2 lg:container lg:max-w-5xl lg:px-3;
	}

	.sticky-navbar {
		@apply sticky top-[var(--header-top-margin)] z-50 mb-[var(--header-mb)] bg-base-300/75 backdrop-blur-md transition-transform ease-in;
	}

	.full-hero {
		@apply min-h-[calc(100vh-64px-(var(--header-with-margin))-(var(--header-mb)))] overflow-hidden;
	}

	.grid-layout {
		@apply grid  
		
		grid-cols-3 gap-y-6
		
		gap-x-3 max-[428px]:grid-cols-3 max-[428px]:gap-x-[.6rem]
		
		sm:grid-cols-4 sm:gap-y-8 md:grid-cols-5 lg:grid-cols-6 xl:gap-x-4;
	}
}
